


:root {
    --background-color: grey;
    --title-background: rgba(49, 139, 180, 0.548);
    --navbg: rgb(31, 31, 31);
    --cardtext: rgba(49, 139, 180, 0.548);

    --hover: lightblue;
    }
    body { 
      line-height: 1.2
    
    }
    
    * {
    
      font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      box-sizing: border-box;
    }



header {
flex-wrap: wrap;
background-color: var(--navbg);
position: static;
padding-bottom: .4rem

}

h1 {
margin-bottom: ;
color: var(--title-background) ;
    display: inline-block;
    
}

.nav {
    display: inline-block
   list-style-type: none;
   justify-content: right;
  position: relative;
  margin-top: -2.8rem;

}

.nav-item {

    color: var(--title-background) ;
}

.banner {
    background-image: url(../assets/images/bannershort.png);
    height: 120px;
    background-size: cover;
    background-position: bottom;
    
}

.bannertext {
  margin-top: 5.1rem;
  background-color: var(--title-background);
  display: inline-block;
  float: right;
  border: 6px;
}

.banner .bannertext {
white-space: nowrap;
}
main {

    margin-left: 8.5rem;
}


.sectitle {
   
width: 5rem;
text-align: end;
margin-top: 1rem;
margin-left: -6rem;
line-height: 1;


}

.aboutsection {
    display: flex;
border-left: 3px solid black;
    margin-right: 200rem;
    width: 100%;
    padding-left: 15px;
    margin-top: -4rem
}

#worksec {

margin-top: 3.2rem;
border-left: 3px solid black;
width: 100%;
}

.container {

    margin-left: .9rem;

    margin-top: -2rem;
}

.card {

    margin-right: 2rem;
    margin-bottom: 2rem;
}

.card-img-top  {

    height: 12rem;
    
}

.card-body, .list-group-item  {

    background-color: var(--title-background);
}